<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.levar"
          android:versionCode="28"
          android:versionName="3.7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <supports-screens android:largeScreens="true"/>

    <application android:label="@string/app_name" android:icon="@drawable/app_icon" android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
        <activity android:name=".activity.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity android:name=".activity.EventActivity" />
        <activity android:name=".activity.FriendActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.LevarmeActivity" />
    </application>

</manifest>